---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
  imgLink=""
  title="About - Andrew Moses"
  subtitle="Who am I? What do I do? Why do I do it?"
>
  <div
    style="margin-top: 20px; display: flex; justify-content: center; gap: 10px; max-width: 100%; flex-wrap: wrap; margin-bottom"
  >
    <img
      src="/andrew-madhacks.jpg"
      alt="An image of Andrew outside. He wears a blue shirt, a gray flannel, and a lanyard with his name."
      class="responsive-image"
    />
  </div>

  <i
    style="display: flex; justify-content: center; margin-top: 10px; font-size: 0.95em;"
  >
    A picture of me at <a
      href="https://madhacks.io"
      style="padding-left: 4px;"
      target="_blank">MadHacks</a
    >!
  </i>

  <h2>About me</h2>

  <p class="writeup">
    Hello! I'm Andrew Moses, an engineer who loves tinkering with anything
    remotely electronic. I'm a student at the
    <a href="https://wisc.edu" target="_blank" style="font-size: 1em;"
      >University of Wisconsin-Madison</a
    >. Most of the time you can find me hanging at the
    <a
      href="https://www.upl.cs.wisc.edu/"
      target="_blank"
      style="font-size: 1em;">Undergraduate Projects Lab</a
    >
    in the Computer Sciences building. When I'm not at UW, I'm back home in New York
    City, where I love skating around the boroughs.
  </p>

  <h2>
    <abbr
      title="noun. a statement at the end of a book, typically with a printer's emblem, giving information about its authorship and printing. (Oxford Languages)"
      class="info-tooltip">Colophon</abbr
    >
  </h2>

  <p>
    I've wanted to have a personal website/a place to be able to write and put
    blogs for a while now, and it's only until somewhat recently that I've been
    able to actually sit down and build out the site I wanted.
  </p>

  <p>
    This site was built off of <a href="https://astro.build/" target="_blank"
      >Astro</a
    >, which is a really neat framework for designing content-heavy websites
    like this one. <a
      href="https://github.com/AndrewDTR/website/blob/main/src/pages/about.astro"
      target="_blank">This page</a
    >
    is being written in HTML for flexibility, but it just as easily could have been
    done in markdown. Astro makes it insanely easy to design the components that
    you'd like, and then implement them in layouts that you can implement as templates
    for pages. This creates an elegant layered architecture, where -- at least in
    my case -- I have a <a
      href="https://github.com/AndrewDTR/website/blob/main/src/layouts/BaseLayout.astro"
      target="_blank">base layout</a
    >
    that contains a blank page with a header and footer, with a slot in the center
    for inserting whatever content I'd like. Then, I can define other structures
    that use it -- say, a <a
      href="https://github.com/AndrewDTR/website/blob/main/src/layouts/Blog.astro"
      target="_blank">layout for my blogs</a
    >
    that will take some frontmatter variables from any markdown post I make and show
    them above the post.
  </p>
  <p>
    I've been really happy with Astro. Its plugin support has allowed me to
    implement <a href="https://github.com/rehypejs/rehype" target="_blank"
      >rehype</a
    > features, swap out the vanilla HTML code blocks for much nicer syntax-highlighted
    ones, generate og meta images dynamically based on page titles/descriptions,
    and create an RSS feed from my content (complete with an <a
      href="https://www.w3.org/Style/XSL/WhatIsXSL.html"
      target="_blank">XSL stylesheet</a
    >. Did you know that's something browsers support?! I didn't.).
  </p>
  <p>
    You may not have noticed it if you're on mobile (the site will attempt to
    disable it if it detects mobile browser agents or a mobile screen size), but
    hovering over a link that directs to an external webpage (one not on this
    site) will display a tooltip with the link that follows your mouse. This
    feature was directly inspired by MIT's website design (which was made by
    Upstatement). There's a treasure trove of really well designed features
    across their primary website and admissions blog -- I attempted to replicate
    their
    <a
      href="https://gwern.net/sidenote#miscellaneous:~:text=MIT%20Admissions%20uses%20a%20footnote%2Dsidenote%20hybrid%3A"
      target="_blank">sidenotes</a
    >
    design at one point, but I wasn't prepared for how intensive the calculations
    are for drawing them on screen dynamically without disturbing the content. I'll
    try to get back around to that at some point, because I like the idea of sidenotes
    more than footnotes. (P.S: That gwern link has a fantastic, almost scarily in-depth
    page on sidenotes in web design. I'd highly recommend checking it out if that
    kind of stuff interests you.)
  </p>
  <p>
    The source for this website is <a
      href="https://github.com/AndrewDTR/website"
      target="_blank">available on my GitHub</a
    >, and you're able to view the changes made in the most recent revision with
    the commit link in the footer. If you're wondering, <a
      href="https://github.com/AndrewDTR/website/blob/e848da9a97124a891b659fce1a2a0fcffb2cf736/src/components/Footer.astro#L2-L7"
      target="_blank">that's done server-side at build time</a
    > by parsing the output of <code>git rev-parse --short HEAD</code> (which is
    ran by Node.js' <code>child_process</code>). That feature was inspired by Xe
    Iaso, whose work I've seen on Hacker News.
  </p>

  <p>
    While I <i>do</i> have a VPS that I put my dynamic projects on, this site is
    built with GitHub Actions due to its static nature. I just have to make a change,
    commit, and push it, and GitHub will automatically re-build the site and deploy
    it automatically for me.
  </p>

  <p>
    I've certainly wanted to write more posts on this website -- and once I'm
    able to get my schedule under control, I definitely think I will. It's super
    fun knowing that there are <i>actual people</i> reading the things I'm writing,
    and as long as I have interesting things to talk about, I don't see any reason
    to stop.
  </p>

  <p style="text-align: right; margin-top: 40px;">Andrew</p>
</BaseLayout>

<style>
  img,
  video {
    border: 1px solid #cfbe9b;
    padding: 5px;
    transition: border 0.2s;
  }

  img:hover,
  video:hover {
    border: 1px solid #f1e9d8;
  }

  .info-tooltip {
    cursor: help;
    text-decoration: underline dotted;
  }

  .responsive-image {
    width: 450px;
    max-width: 100%;
  }

  @media (max-width: 700px) {
    .responsive-image {
      width: 100%;
    }
  }
</style>
