---
import BaseLayout from "../layouts/BaseLayout.astro";
const allPosts = await Astro.glob("./blog/*.md");

allPosts.sort(
  (a, b) => new Date(b.frontmatter.pubDate) - new Date(a.frontmatter.pubDate)
);
---

<BaseLayout
  imgLink="/images/main-og.png"
  title="Home - Andrew Moses"
  subtitle="The homepage and blog of Andrew Moses."
>
  <div slot="outside-content">
    <div class="everything">
      <div class="content-wrapper">
        <div class="whoami-box">
          <img
            class="image-of-me"
            src="./andrew-madhacks-lean.jpg"
            loading="lazy"
            alt="Andrew outside leaning on a fence. He smiles at the camera, wearing a light blue shirt, a gray flannel, and a lanyard with his name on it."
          />
          <div class="write-text">
            <p class="writeup">
              Hello! I'm Andrew Moses, an engineer who loves tinkering with
              anything remotely electronic. I'm a student at the
              <a href="https://wisc.edu" target="_blank" style="font-size: 1em;"
                >University of Wisconsin-Madison</a
              >, where I'm majoring in Computer Science. Right now, my interests
              include web development, computer vision, and communication
              protocols (feel free to ask me about Zigbee or MQTT!). Most of the
              time you can find me hanging at the
              <a
                href="https://www.upl.cs.wisc.edu/"
                target="_blank"
                style="font-size: 1em;">Undergraduate Projects Lab</a
              >
              in the Computer Sciences building. When I'm not at UW, I'm back home
              in New York City, where I love skating around the boroughs.
            </p>
            <p class="writeup writeup2">
              I've taken a recent interest in making projects that allow people
              to access information in more convenient ways. Check out my
              writeup on the <a
                href="/blog/upl-people-counter/"
                class="project-link"
                style="font-size: 1em;">UPL's people counter</a
              >
              or my <a
                href="/projects/ics-schedule-generator"
                class="project-link"
                style="font-size: 1em;">.ics schedule generator</a
              >
              for more info!
            </p>
          </div>
        </div>
        <hr class="custom-hr" />
        <p>
          Here are the three latest blogs I've published. You can find the
          entire list of my writing <a href="/blog" style="font-size: 1em;"
            >here</a
          >.
        </p>
        <ul class="blog-list">
          {
            allPosts.slice(0, 3).map((post) => (
              <a href={post.url} class="blog-post-link">
                <li class="blog-post-item">
                  {post.frontmatter.bestof && (
                    <i class="fa fa-star" style="padding-right: 2px;" />
                  )}
                  {post.frontmatter.title} -{" "}
                  <i>
                    {post.frontmatter.subtitle} | {post.frontmatter.pubDate}
                  </i>
                </li>
              </a>
            ))
          }
        </ul>
      </div>
    </div>
  </div>
</BaseLayout>

<style>
  .content-wrapper {
    width: 90%;
    margin: 0 auto;
  }

  p,
  ul {
    margin-left: 20px;
  }

  ul {
    padding-left: 20px;
  }

  .whoami-box {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #392e2e;
    margin: 20px auto;
    border-radius: 7px;
    border: 1px solid #f0e7d8;
    padding: 20px;
  }

  .image-of-me {
    width: auto;
    height: 170px;
    border-radius: 50%;
    margin-right: 20px;
  }

  .writeup {
    margin: 0;
  }

  .writeup2 {
    margin-top: 8px;
  }

  .blog-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-left: 25px;
    margin-right: 50px;
  }

  .blog-post-item {
    background-color: #1b1919;
    padding: 10px 15px;
    margin-bottom: 10px;
    border-radius: 6px;
    transition:
      background-color 0.2s ease,
      transform 0.2s ease;
    border: 1px solid #f0e7d8;
    color: #f0e7d8;
  }

  .blog-post-item:hover {
    background-color: #2a2626;
    transform: scale(1.004);
  }

  .blog-post-item:active {
    background-color: #5b4f4f;
    transition: 0s background-color;
    transform: scale(1.01);
  }

  img {
    border: 1px solid #f0e7d8;
    padding: 5px;
  }

  .blog-post-link {
    text-decoration: none;
  }

  @media (max-width: 700px) {
    .content-wrapper {
      width: 100%;
      margin: 0;
      padding: 0 10px;
    }

    .whoami-box {
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 10px;
    }

    .image-of-me {
      margin: 0 0 10px 0;
      height: 150px;
    }

    .writeup {
      margin: 0;
    }
    p,
    ul {
      margin: 0;
      padding: 0 10px;
    }

    ul {
      padding-left: 0;
    }

    .blog-list {
      margin: 0;
      padding: 0;
      width: 100%;
    }

    .blog-post-item {
      margin: 0 0 10px 0;
      padding: 10px;
      margin-top: 10px;
    }

    .blog-post-link {
      width: 100%;
      display: block;
    }
  }
</style>
