---
import BaseLayout from "../layouts/BaseLayout.astro";
const allPosts = await Astro.glob("./blog/*.md");

allPosts.sort(
  (a, b) => new Date(b.frontmatter.pubDate) - new Date(a.frontmatter.pubDate)
);
---

<BaseLayout
  imgLink="/images/main-og.jpg"
  title="Home - Andrew Moses"
  description="The homepage and blog of Andrew Moses."
>
  <div slot="outside-content">
    <div class="everything">
      <div class="content-wrapper">
        <div class="whoami-box">
          <img
            class="image-of-me"
            src="./andrew-madhacks-lean.jpg"
            loading="lazy"
            width="798"
            height="798"
            alt="Andrew outside leaning on a fence. He smiles at the camera, wearing a light blue shirt, a gray flannel, and a lanyard with his name on it."
          />
          <div class="write-text">
            <p class="writeup">
              Hello! I'm Andrew Moses, an engineer who loves tinkering with
              anything remotely electronic. I'm a student at the
              <a
                href="https://wisc.edu"
                target="_blank"
                style="font-size: 1em;"
              >
                University of Wisconsin-Madison</a
              >, where I'm majoring in Computer Science. Right now, my interests
              include
              <span class="first-like"></span>,
              <span class="second-like"></span>, and <span class="third-like"
              ></span>. I consider myself a software engineer at heart, but I'm
              increasingly interested in learning more about the realm of
              hardware and systems (...which has led me to enroll in a few ECE
              classes next semester, woohoo!).
            </p>
            <p class="writeup writeup2">
              I'm currently a Software Engineering Intern at <a
                href="https://paypal.com">PayPal.</a>
            </p>
            <p class="writeup writeup2">
              If you find the writing on here interesting, or just want to reach
              out, feel free to contact me to ask about anything! My contact
              information is on <a href="/about">the about page</a> of this site.
            </p>
          </div>
        </div>
        <hr class="custom-hr" />
        <p>
          Here are the five latest articles I've published. You can find the
          entire list of my writing <a href="/blog" style="font-size: 1em;"
            >on the blog page</a
          >.
        </p>
        <ul class="blog-list">
          {
            allPosts.slice(0, 5).map((post) => (
              <a href={post.url} class="blog-post-link">
                <li class="blog-post-item">
                  {post.frontmatter.bestof && (
                    <i class="fa fa-star" style="padding-right: 2px;" />
                  )}
                  {post.frontmatter.title} -{" "}
                  <i>
                    {post.frontmatter.description} | {post.frontmatter.pubDate}
                  </i>
                </li>
              </a>
            ))
          }
        </ul>
      </div>
    </div>
  </div>
</BaseLayout>

<style>
  .content-wrapper {
    width: 90%;
    margin: 0 auto;
  }

  p,
  ul {
    margin-left: 20px;
  }

  ul {
    padding-left: 20px;
  }

  .whoami-box {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #392e2e;
    margin: 20px auto;
    border-radius: 7px;
    border: 1px solid #f0e7d8;
    padding: 20px;
  }

  .image-of-me {
    width: auto;
    height: 170px;
    border-radius: 50%;
    margin-right: 20px;
  }

  .writeup {
    margin: 0;
  }

  .writeup2 {
    margin-top: 8px;
  }

  .blog-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-left: 25px;
    margin-right: 50px;
  }

  .blog-post-item {
    background-color: #1b1919;
    padding: 10px 15px;
    margin-bottom: 10px;
    border-radius: 6px;
    transition:
      background-color 0.2s ease,
      transform 0.2s ease;
    border: 1px solid #f0e7d8;
    color: #f0e7d8;
  }

  .blog-post-item:hover {
    background-color: #2a2626;
    transform: scale(1.004);
  }

  .blog-post-item:active {
    background-color: #5b4f4f;
    transition: 0s background-color;
    transform: scale(1.01);
  }

  img {
    border: 1px solid #f0e7d8;
    padding: 5px;
  }

  .blog-post-link {
    text-decoration: none;
  }

  @media (max-width: 700px) {
    .content-wrapper {
      width: 100%;
      margin: 0;
      padding: 0 10px;
    }

    .whoami-box {
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 10px;
    }

    .image-of-me {
      margin: 0 0 10px 0;
      height: 150px;
    }

    .writeup {
      margin: 0;
    }
    ul {
      margin: 0;
      padding: 0 10px;
    }

    p {
      margin: 0 0 10px 0;
      padding: 0 10px;
    }

    .blog-list {
      margin: 0;
      padding: 0;
      width: 100%;
    }

    .blog-post-item {
      margin: 0 0 10px 0;
      padding: 10px;
      margin-top: 10px;
    }

    .blog-post-link {
      width: 100%;
      display: block;
    }

    .writeup2 {
      margin-top: 12px;
      margin-bottom: 5px;
    }
  }

  .first-like,
  .second-like,
  .third-like {
    background-color: rgb(145, 65, 41);
    cursor: pointer;
    padding: 1px 1px;
    border-radius: 1px;
    user-select: none;
    transition: background-color 0.1s;
  }

  .first-like:hover,
  .second-like:hover,
  .third-like:hover {
    background-color: rgb(122, 60, 41);
  }
</style>

<script is:inline>
  document.addEventListener("DOMContentLoaded", function () {
    const thingsToAsk = [
      "web development",
      "computer vision",
      "communication protocols",
      "Three.js",
      "KiCad",
      "Astro",
      "Python",
      "Java",
      "Node.js",
      "SvelteKit",
      "3D Printing",
      "Synthetic Aperture Radar",
      "React",
      "TypeScript",
      "websockets",
    ];

    function selectThreeRandomItems() {
      const selectedItems = new Set();

      while (selectedItems.size < 3) {
        const randomItem =
          thingsToAsk[Math.floor(Math.random() * thingsToAsk.length)];
        selectedItems.add(randomItem);
      }

      return [...selectedItems];
    }

    const [first, second, third] = selectThreeRandomItems();

    const firstSpan = document.querySelector(".first-like");
    const secondSpan = document.querySelector(".second-like");
    const thirdSpan = document.querySelector(".third-like");

    firstSpan.textContent = first;
    secondSpan.textContent = second;
    thirdSpan.textContent = third;

    function pickNewItem(excludeItems) {
      const availableItems = thingsToAsk.filter(
        (item) => !excludeItems.includes(item)
      );
      if (availableItems.length === 0) return null;
      const randomItem =
        availableItems[Math.floor(Math.random() * availableItems.length)];
      return randomItem;
    }

    function handleClick(event) {
      const span = event.target;
      const oldItem = span.textContent.trim();

      const otherSpans = [firstSpan, secondSpan, thirdSpan].filter(
        (s) => s !== span
      );
      const otherItems = otherSpans.map((s) => s.textContent.trim());

      const excludeItems = [oldItem, ...otherItems];

      const newItem = pickNewItem(excludeItems);

      if (newItem) {
        span.textContent = newItem;
      }
    }

    firstSpan.addEventListener("click", handleClick);
    secondSpan.addEventListener("click", handleClick);
    thirdSpan.addEventListener("click", handleClick);
  });
</script>
