---
import BaseLayout from "../layouts/BaseLayout.astro";
const allPosts = await Astro.glob("./posts/*.md");
---

<BaseLayout>
  <div slot="outside-content">
    <div class="whoami-box">
      <img class="image-of-me" src="./capitol-image.png" />
      <div class="write-text">
        <p class="writeup" style="font-size: 1.1em;">
          Hello! I'm Andrew Moses, an engineer who loves tinkering with anything
          remotely electronic. I'm currently a sophomore at the <a
            href="https://wisc.edu"
            target="_blank"
            style="font-size: 1.0em">University of Wisconsin-Madison</a
          >, where I'm currently studying Computer Science. My current interests
          include computer vision and communication protocols (feel free to ask
          me about Zigbee or MQT!).
        </p>
        <p class="writeup" style="margin-top: 0px;">
          I've taken a recent interest in making projects that allow people to
          access information in a more convenient way. Check out my writeup on
          the <a
            href="/projects/upl-people-counter"
            class="project-link"
            target="_blank"
            style="font-size: 1.0em">UPL's people counter</a
          > or my <a
            href="/projects/ics-schedule-generator"
            class="project-link"
            style="font-size: 1.0em"
            target="_blank">.ics schedule generator</a
          > for more info!
        </p>
      </div>
    </div>

    <p>Here are some of my latest blog posts:</p>
    {
      allPosts.slice(0, 5).map((post) => (
        <li>
          <a href={post.url}>
            {post.frontmatter.title} - {" "}
            <i>
              {post.frontmatter.subtitle} | {post.frontmatter.date}
            </i>
          </a>
        </li>
      ))
    }
  </div>
</BaseLayout>
<style>
  .write-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .whoami-box {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #392e2e;
    height: auto;
    margin-top: 20px;
    border-radius: 7px;
    border-style: solid;
    border-width: 1px;
    border-color: #f0e7d8;
  }

  .image-of-me {
    width: auto;
    height: 150px;
    border-radius: 50%;
    margin-left: 20px;
  }

  .writeup {
    margin-left: 20px;
    padding-right: 10px;
  }
</style>
