---
import BaseLayout from "../layouts/BaseLayout.astro";
const allPosts = await Astro.glob("./posts/*.md");
---

<BaseLayout>
  <ul>
    {
      allPosts.map((post) => (
        <li>
          <a href={post.url} class="blog-link">
            {post.frontmatter.title} - <i>{post.frontmatter.subtitle}</i>
          </a>
        </li>
      ))
    }
  </ul>
</BaseLayout>

<style>
  .blog-link,
  .blog-link i {
    color: #f0e7d8;
    text-decoration: none;
    transition: color 0.2s ease;
    text-decoration: underline;
  }

  .blog-link:hover,
  .blog-link:hover i {
    color: #ffaaaa;
  }
</style>

