---
import childProcess from "child_process";

const hash = childProcess
  .execSync("git rev-parse --short HEAD")
  .toString()
  .trim();

const currentYear = new Date().getFullYear();
---

<footer class="footer-container">
  <div class="footer-words">
    <p>&copy; {currentYear} Andrew Moses</p>
  </div>
  <div class="footer-right">
    <div class="rss" style="margin-right: 15px;">
      <a href="/rss.xml" target="_blank" aria-label="Blog RSS feed">
        <i class="fa-solid fa-square-rss fa-lg"></i>
      </a>
    </div>
    <div class="footer-section">
      <p className="commit-text">
        {import.meta.env.PROD ? "prod@" : "dev@"}<a
          className="commit-hash"
          href={`https://github.com/AndrewDTR/website/commit/${hash}`}
          target="_blank"
          aria-label="GitHub commit hash"
          >{hash}
        </a>
      </p>
    </div>
  </div>
</footer>

<style>
  .footer-container {
    width: 100%;
    background-color: #392e2e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    border-top: 2px solid #f0e7d8;
    margin-bottom: 5px;
    flex-wrap: wrap;
    padding: 10px 15px;
  }

  .footer-words {
    display: flex;
    align-items: center;
  }

  .footer-right {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  .footer-section {
    display: flex;
    align-items: center;
    margin-right: 20px;
  }

  .commit-text {
    color: #f0e7d8;
    margin: 0;
  }

  .commit-hash {
    margin-left: 5px;
    color: #f0e7d8;
    text-decoration: underline;
    font-size: 1em;
  }

  .commit-hash:hover {
    color: #ffaaaa;
    text-decoration: underline;
  }

  @media (max-width: 600px) {
    .footer-container {
      flex-direction: column;
      align-items: flex-start;
      padding: 10px 15px;
    }

    .footer-right {
      width: 100%;
      justify-content: space-between;
      margin-top: 10px;
    }

    .footer-section {
      width: 48%;
      margin-right: 0;
      margin-bottom: 10px;
    }

    .footer-section:last-child {
      text-align: right;
    }

    .commit-hash {
      word-break: break-all;
    }

    .rss {
      display: none;
    }
  }

  .fa-square-rss {
    color: #f0e7d8;
    transition: color 0.2s;
  }

  .fa-square-rss:hover {
    color: #ffaaaa;
  }
</style>
