---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import "../styles/global.css";

const { imgLink } = Astro.props;
---

<html lang="en">
  <head>

    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/amoses.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/charter-webfont@4/charter.min.css" />
    <title>Andrew Moses</title>

    {imgLink && <meta property="og:image" content={imgLink} />}
  </head>
  <body>
    <div class="page-wrapper">
      <Header />

      <!-- First slot for content outside the content div -->
      <slot name="outside-content" />

      <div class="content">
        <!-- Second slot for content inside the content div -->
        <slot />
      </div>

      <Footer />
    </div>
    <script
      id="MathJax-script"
      async
      src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"
    ></script>
    <div id="tooltip" class="tooltip"></div>

    <script>
      (function () {
        const tooltip = document.getElementById("tooltip");

        document.addEventListener("mouseover", function (event) {
          const target = event.target;
          if (target.tagName.toLowerCase() === "a") {
            const href = target.getAttribute("href");

            const link = document.createElement("a");
            link.href = href;

            if (link.hostname && link.hostname !== location.hostname) {
              const displayHostname = link.hostname.replace(/^www\./, "");

              tooltip.textContent = displayHostname;
              tooltip.style.display = "block";
              tooltip.style.left = event.pageX + 10 + "px";
              tooltip.style.top = event.pageY + 10 + "px";
            }
          }
        });

        document.addEventListener("mouseout", function (event) {
          if (event.target.tagName.toLowerCase() === "a") {
            tooltip.style.display = "none";
          }
        });

        document.addEventListener("mousemove", function (event) {
          if (tooltip.style.display === "block") {
            tooltip.style.left = event.pageX + 3 + "px";
            tooltip.style.top = event.pageY - 25 + "px";
          }
        });
      })();
    </script>
    <script src="https://kit.fontawesome.com/0bc349d89a.js" crossorigin="anonymous"></script>
  </body>
</html>
