---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
const hasTags = frontmatter.tags && frontmatter.tags.length > 0;
---

<BaseLayout>
  <div slot="outside-content" class="top">
    <p class="blog-title">{frontmatter.title}</p>
    <p class="subtitle">{frontmatter.subtitle}</p>
    <p class="others">
      <i class="fa-solid fa-user fa-sm" style="padding-right: 2px;"></i>
      By {frontmatter.author || "Me"} | <i
        class="fa-regular fa-calendar fa-sm"
        style="padding-right: 2px;"></i>
      {frontmatter.date || "Date Unknown"}
    </p>
    {
      hasTags && (
        <p class="tags">
          <i class="fa-solid fa-tag fa-sm" style="padding-right: 2px;" />
          Tags:
          {frontmatter.tags.map((tag) => (
            <code>{tag}</code>
          ))}
        </p>
      )
    }

    <hr class="custom-hr" style="margin-top: 25px;" />
  </div>

  <slot />

  <style>
    .blog-title {
      font-size: 2.4em;
      font-weight: bold;
      margin-top: 0.5em;
      margin-bottom: 0;
    }

    .subtitle {
      font-size: 1.25em;
      margin-top: 0.2em;
      margin-bottom: 1em;
      font-style: italic;
    }

    .others {
      margin-bottom: 0;
    }

    code {
      padding: 0.2em 0.4em;
      margin: 0;
      font-size: 85%;
      white-space: break-spaces;
      background-color: #777f8a33;
      border-radius: 6px;
      color: white;
      font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier,
        monospace;
      margin-right: 2px;
    }

    .tags {
      margin-top: 3px;
    }

    .content {
      margin-top: 0px;
      padding-top: 0px;
    }

    .top {
      left-margin: 20px;
    }
  </style>
</BaseLayout>
